Source: nxcontrol
Package: nxcontrol
Version: 1.0-1
Architecture: amd64
Section: web
Depends: sudo
Priority: optional
Maintainer: Eduardo Osquel Perez Rivero <eduardoosquel@hotmail.com>
Description: Software to search inside nextcloud data directory
 this tool will carry out a deep search of the files that are hosted
 in the cloud. This will allow the system administrator to make
 decisions with users who have violated some information sharing rules
 in an environment with a code of ethics and whose production contains
 too many users.
